/* ---------------------------------------------------
    FONTS
----------------------------------------------------- */

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

@font-face {
    font-family: Adam;
    src: url("adam.otf") format("opentype");
}

/* ---------------------------------------------------
    BODY
----------------------------------------------------- */
body,
html {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Content styling */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1vw;
}

/* Header styling */
header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: #fafafa;
    padding: 30px 30px 15px 30px;
}

/* Main title styling */
#main-title {
    color: #527F9C;
    font-size: 4em;
}

/* Section headings */
h1 {
    padding-top: 100px;
    font-family: Adam, sans-serif;
    font-size: 4em;
}

/* Subsection headings */
h3 {
    font-size: 2.5em;
    text-align: left;
    padding-top: 5px;
}

h5 {
    text-align: left;
    font-size: 1.5em;
}

h6 {
    font-size: 1.2em;
}

/* Header headings */
header h1,
header h2,
header h3 {
    text-transform: uppercase;
    padding-top: 0px;
    text-align: center;
}

h2 {
    font-size: 3em;
}

header h3 {
    font-size: 2em;
}

/* Page styling */
#page1,
#page2,
#page3,
#page4,
#page5,
#page6,
#page7 {
    padding-top: 30px;
    min-height: 100vh;
}

/* Left-aligned sections */
.left {
    align-content: left;
    text-align: left;
}

/* Right-aligned sections */
.right{
    align-content: right;
    text-align: right;
}

/* Section styling */
.section {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
}

/* Paragraph styling */
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    text-align: justify;
}

/* Link styling */
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* Navigation bar styling */
.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: sticky;
    top: 10px;
    z-index: 998;
}

/* Sidebar collapse */
#sidebarCollapse {
    box-shadow: 0px 3px 7px 0px #404040;
}

/* Menu button */
.btn-menu {
    color: #fff;
    background-color: #527F9C;
    border-color: #527F9C;
}

/* Amherst College seal */
#seal {
    height: 30px;
    width: auto;
}

/* Footer styling */
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #527F9C;
    color: white;
    text-align: left;
    font-size: 0.7em;
    opacity: 0.9
}

/* Footer content */
footer p {
    padding: 5px;
}

/* Photo container */
.photo-container {
    position: relative;
    transition: all 0.3s;
}
  
/* Photo styling */
.photo {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 5px;
    margin-top: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
  
/* Photo overlay */
.photo-overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    max-height: 30%;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-size: 1vw;
}
  
/* Hovering over photo */
.photo-container:hover {
    transform: scale(1.02);
}

.photo-container:hover .photo-overlay {
    opacity: 1;
}

/* Photo caption */
figcaption {
    font-size: 0.7em;   
}

/* Abstracts styling */
.abstract {
    text-align: justify;
    font-size: 0.9em;
    padding: 10px;
    margin: auto;
}

/* Unordered lists */
.unstyled {
    list-style: none;
}

/* Professor's homepage */
#ivan {
    position: relative;
}

/* Hover over text */
.hoverover:hover {
    color: #527F9C;
}

.hovertext {
    visibility: hidden;
    font-size: 0.7em;
    background-color: #527F9C;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 5px 0px;
    position: absolute;
    z-index: 1;
    top: 130%;
    left: 50%;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 0.7s;
}

.hovertext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #527F9C transparent;
}

.hoverover:hover .hovertext {
    visibility: visible;
    opacity: 1;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

/* Sidebar styling */
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #6595B1;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

/* Close sidebar */
#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #6595B1;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #6595B1;
}

/* Content overlay when sidebar is open */
.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6D9BB5;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #6595B1;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6595B1;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6595B1;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.contact {
    background: #fff;
    color: #6595B1;
}

a.article,
a.article:hover {
    background: #6595B1 !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    PARALLAX SCROLLING EFFECT
----------------------------------------------------- */
  
.parallax {
    /* The image used */
    /* background-image: url("background.png"); */
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("background.png");
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}